<h1>About Us</h1>
 <div class="row">
	<div class="col-xs-16 col-md-3">
	<p><img src="http://placehold.it/200x200" alt="..." style="float:left"></p>
	</div>
	<div class="col-xs-12 col-md-9">
		<p>Mission</p>
	</div>
</div>
	<br>
	
 <div class="row">
	<div class="col-xs-16 col-md-3">
	<p><img src="http://placehold.it/200x200" alt="..." style="float:left"></p>
	</div>
	<div class="col-xs-12 col-md-9">
		<p>History</p>
	</div>
</div>
	<br>
	
 <div class="row">
	<div class="col-xs-16 col-md-3">
	<p><img src="http://placehold.it/200x200" alt="..." style="float:left"></p>
	</div>
	<div class="col-xs-12 col-md-9">
		<p>Culture</p>
	</div>
</div>
	<br>	
