<h1>Clara Barton Auxiliary</h1>
<p>
The Clara Barton Hospital Auxiliary has been an active, community partner for the hospital since the auxiliary was first organized in 1953.
</p><p>
Although many changes have been made in medicine during these 40 years, commitment to the continuation of local medical services have never wavered. With an emphasis on providing medically related scholarships each year, Clara Barton Hospital Auxiliary has seen many of the auxiliary's scholarship recipients return to work in the hospital or in the area.
</p><p>
A Helping Hand Recent remodeling and decorating projects is a visible sign of hospital auxiliary support for the hospital. The Pink Ladies are the hospital auxiliary's in-hospital volunteers who walk the extra steps and add sunshine to the patients' mornings. Behind the scene hospital auxiliary projects are just as valuable. The purchase of office chairs, operating room equipment, a wheel chair scale, fetal monitor cart, hospital beds, privacy curtains, Dr's lounge furniture, and light cover panels are an indication of the auxiliary's efforts.
</p><p>
Project funding comes from a variety of auxiliary sponsored activities. This year the auxiliary put together a cook book with many delicious recipes from the auxiliary members and Clara Barton Hospital and clinic staff. The cook books can be purchased at the Clara Barton Hospital and Clinic and Anne's Accents in downtown Hoisington. Some other fundraisers include making floral deliveries for Mother's and Valentine's Days and ornaments purchased at Clara Barton Hospital.
</p><p>
Become A Member The Auxiliary meets the third Monday of each month at 5:30 p.m. in the Clara Barton Hospital Turnbull Safe Room. An annual membership due of $5.00 helps fund special projects focused on improving patient care at Clara Barton Hospital.
</p><p>
Make A Difference You can make a difference, too, by volunteering your time and/or talents through the Auxiliary. Sign up today by contacting Marty Schlomer or Nona Prosser, Membership Chairpersons at <b>(620) 653-2313</b>.
</p><p>
Become a member of the Clara Barton Hospital Auxiliary and make a world of difference!
</p>
