<h1>Careers</h1>
<p>Clara Barton Hospital is a premier community hospital and health care “provider of choice” in our region. We currently have opportunities for compassionate individuals to join our teams in providing high quality healthcare. We offer competitive wages and benefits, as well as a comfortable and inviting work atmosphere. Current openings include... </p>
<div style="width:50%;float:left;margin-bottom:20px;">
<img src="http://placehold.it/400x400" alt="..."></img>
</div>

<div class="panel-group" id="accordion" style="float:left;text-align:center;width:50%">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						FAMILY PHYSICIAN (MD or DO) 
					</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body" style="text-align:left;">
							<p>Clara Barton Hospital is currently seeking a Family Physician to join our medical staff team. Responsibilities will include providing care to patients in our Rural Health Clinic, emergency Room coverage and inpatient care and rounds.
							Competitive Salary w/ RVU Production Bonus and Full-Time benefits including: Health/dental/life/vision/disability & long-term care insurance; pension plan; paid time off; continuing education allowance; and paid professional dues provided. 
							</p>
							<p>Hours:</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						REGISTERED HEALTH INFORMATION TECHNICIAN (RHIT) 
					</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body" style="text-align:left;">
						<p>Responsibilities in the Health Information Management Department, including HIPAA Privacy/Security Responsibilities. State of KS certification, coding and abstracting experience, proficiency in ICD-9 and familiarity with ICD-10 required. 
						</p>
						<p>Hours:</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
							RADIOGRAPHIC/ULTRASOUND TECHNOLOGIST 
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body" style="text-align:left;">
						<p>Selected candidate will perform radiographic/CT procedures and ultrasound exams to assist in a diagnosis of disease and injuries. The Radiologic/Ultrasound Technoligist will work effectively with patients and their families and maintain a cooperative relationship with interdepartmental personnel. Must be a Registered Radiologic/Ultrasound Technologist or registry eligible and licensed by the State of Kansas. Familiarity with Meditech computer system is a plus. 
						</p>
						<p>Hours:</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						CERTIFIED OCCUPATIONAL THERAPY ASSISTANT 
					</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body" style="text-align:left;">
						<p>Will provide rehabilitative services to persons with mental, physical, emotional or developmental impairments with the ultimate goal of improving quality of life and enabling patients to perform Activities of Daily Living. State of Kansas C.O.T.A. certification required 
						</p>
						<p>Hours:</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
						PHYSICAL THERAPIST
					</a>
					</h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
					<div class="panel-body" style="text-align:left;">
						<p>Therapist is responsible for providing services that help restore function, improve mobility, relieve pain and prevent or limit permanent physical disability of patients suffering from injuries or disease ; restores, maintains and promotes overall fitness and health. Licensure in the State of Kansas required.
						</p>
						<p>Hours:</p>
					</div>	
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
						C.N.A. 
					</a>
					</h4>
				</div>
				<div id="collapseSix" class="panel-collapse collapse">
					<div class="panel-body" style="text-align:left;">
						 	<p>Must be able to perform duties according to established policies and procedures. Position requires ability to organize/ perform assigned patient care activities, promote a positive patient attitude, to effectively comfort and care for all patients, recognize changes in patient condition and encourage patients to participate in their own activities.
							</p>
							<p>Hours:</p>
						</div>
				</div>
			</div>
		</div>
