<h1>News & Events</h1>
    <li>The <a href="https://clarabartonhospital.com/docs/2012_Barton_County_KS_Community_Health_Needs_Assessment.pdf">2012 Barton County KS Community Health Needs Assessment</a> is complete and available here.
    </li><br><li><a href="https://clarabartonhospital.com/cbh.php?n=News.RuralHealthWorks">Rural Health Works Program underway.</a>
    </li><br><li>Clara Barton Hospital Now Offering THD (Transanal Hemorrhoidal Dearterialization) and Kyphoplasty Services.
    </li><br><li>Dr. John G.Fan,MD preforms the Kyphoplasty outpatient procedure which is minimally invasive treatment for spinal fractures that can correct vertebral body deformity, reduce pain and improve patient quality of life. Once the bone is filled the "motion" in the bone is removed and the pain is gone-helping to keep the original anatomy of the spine. Don't ignore your back pain, see your doctor especially if you are over 50 or have osteoporosis.
    </li><br><li>New Zoll AutoPulse and Code-Ready Defibrillators in use in the Emergency Room.
    </li><br><li>The Clara Barton Hospital Foundation donated funds for the purchase of this new equipment for our ER. By adding the Code-Ready Defibrillators our hospital now has the same units which are used by local ambulances, allowing the paitent to be brought in and removed from the ambulance equipment to the hospital equipment without having to change pads and other devices. The AutoPulse is an automated CPR deivce which is placed on the patient and performs the CPR in place of the staff. Research shows after 90 seconds even staff who are efficient in CPR loose their effectiveness. The AutoPulse allows for continual bloodflow, less chance of rib fractures, less risk for staff and more hands available for other emergent procedures. 
			</li><br>
<p>Check back to this section of the website for updated news and hospital information. We are here to serve your needs and keep you informed of options concerning your health.
</p>

