<script type="text/javascript">
</script>

<h1>Administration Staff</h1>

<div class="photos" style="text-align:center">
	<div class="col-xs-6 col-md-3">
		<a><img  src="http://placehold.it/200x200" alt="..."></a>
		CFO
	</div>
	<div class="col-xs-6 col-md-3">
		<a><img  src="http://placehold.it/200x200" alt="..."></a>
		CEO
	</div>
	<div class="col-xs-6 col-md-3">
		<a><img  src="http://placehold.it/200x200" alt="..."></a>
		CNO
	</div>
	<div class="col-xs-6 col-md-3">
		<a><img  src="http://placehold.it/200x200" alt="..."></a>
		COS
	</div>
</div>


