<div id="CBMC" class="desc">
	<h3>Clara Barton Medical Clinic</h3>
	<p>The doctors, nurses, and staff at Clara Barton Medical Clinic are prepared to handle all of your health care needs. We have trusted, compassionate, and experienced physicians on our medical staff ready to care for you. We also have several specialty doctors who provide services in our clinic on a regular basis.</p>
	<h4>Our regular Medical Staff includes:</h4>
	<li>Robin Durrett, DO - General Surgery</li>
	<li>Murray Holcomb, MD - General Surgery</li>
	<li>Abelardo Sotelo, MD - Orthopedic Surgery</li>
	<li>Mike Sheppard, CRNA - General Surgery</li>
	<li>Nathaniel Knackstedt, DO - Internal Medicine</li>
	<li>Scott Webb, DO - Family Practice</li>
	<li>Leah Alpers, PA-C - General Surgery</li>
	<li>Debra Brockel, PA - Family Practice</li>
	<li>Phillip Barnes, PA-C - Family Practice</li>
	<li>Kristin Ohnmacht, PA-C - Family Practice</li>
	<li>Linda Krug, PA-C - Family Practice</li>
	<li>Malorie Hamlin, ARNP - Family Practice </li>
		
	<h4>Our visiting physicians include:</h4>
	<li>Cynthia Romito, MD - Allergy/Immunology</li>
	<li>Michael Lloyd, DO - Cardiology</li>
	<li>John G. Fan, MD - Physical Medicine & Rehabilitation</li>
	<li>Kipp A. VanCamp, DO - Radiology</li>
	<li>Robert Weingart, MD - Urology</li>
	<li>Ann Hentzen Page, MD - OB/GYN</li>
	<li>Kathryn Sawchak, MD - OB/GYN</li>
	<li>Brett Grizzell, MD - Cardiothoracic Surgery</li>
	<li>Matthew Henry, MD - Neurosurgery </li><br>

	<p>If you would like to make an appointment, please call or come by:</p>
	<p>Clara Barton Medical Clinic <br>
	252 W 9th Street <br>
	Hoisington, KS 67544</p>

	<p>Phone: 620-653-2386<br>
	Fax: 620-653-4186 </p>
</div>
		
<script type="text/javascript">

</script>