<script type="text/javascript">
$(function(){
    $(':radio').change(function() {
        var test = $(this).val();
		if(test == "option1"){
			$("div.desc").hide();
			document.getElementById('CBH').style.display = "block";
		}
		if(test == "option2"){
			$("div.desc").hide();
			document.getElementById('CBMC').style.display = "block";
		}
		if(test == "option3"){
			$("div.desc").hide();
			document.getElementById('CBSS').style.display = "block";
		}
		if(test == "option4"){
			$("div.desc").hide();
			document.getElementById('CBSSO').style.display = "block";
		}
		if(test == "option5"){
			$("div.desc").hide();
			document.getElementById('CBSOC').style.display = "block";
		}
		if(test == "option6"){
			$("div.desc").hide();
			document.getElementById('RFMC').style.display = "block";
		}
		if(test == "option7"){
			$("div.desc").hide();
			document.getElementById('ER').style.display = "block";
		}	
	})
});

$(document).ready(function () {
    if(window.location.href.indexOf("facilities") > 0) {
		$("a").parent().removeClass("active");
		document.getElementById("mc").className += "active";
    }
});


</script>

<div class="row">
	<div class="col-xs-6 col-md-3">
		<div class=" rdio btn-group btn-group-vertical" data-toggle="buttons" style="margin-top:20px">
			<label class="btn btn-primary  active">
				<input type="radio" name="options" class="cbh" data-toggle="radio" value="option1" checked> Clara Barton Hopsital
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options" data-toggle="radio" value="option2"> Clara Barton Medical Clinic
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options"  data-toggle="radio" value="option3"> CBSS
			</label>
			<label class="btn  btn-primary">
				<input type="radio" name="options"  data-toggle="radio" value="option4"> CBSSO
			</label>
			<label class="btn  btn-primary">
				<input type="radio" name="options"  data-toggle="radio" value="option5"> CBSOC
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options"  data-toggle="radio" value="option6"> RFMC
			</label>
			<label class="btn  btn-primary">
				<input type="radio" name="options" data-toggle="radio" value="option7"> Emergency Room
			</label>
		</div>
	</div>
	
	<div class="col-xs-12 col-md-9">
		<div id="CBH" class="desc" >
		<h3>Clara Barton Hospital</h3
		<p>At Clara Barton Radiology, we take time to focus on you! Using our technology, the experienced physicians and technologists at Clara Barton obtain and interpret high-resolution images that provides vital information for your doctor.</p>
		<p>We offer many services, making it easy for you to get the care you need close to home.</p>
		<h4>Our Radiology Services Include...</h4>

		<li>General Diagnostics</li>
		<li>Fluoroscopy</li>
		<li>Mammography</li>
		<li>Ultrasound</li>
		<li>CT Scans</li>
		<li>MRI</li>
		<li>Nuclear Medicine</li>
		<li>DEXA</li>
		<li>PET/CT</li>
		<li>PACS </li><br>
	
		<h4>General Diagnostics / Fluoroscopy</h4>
		Clara Barton Hospital has full-service general radiography. Our general x-ray service includes bone injuries and trauma, spine imaging, lung and heart imaging, and abdominal imaging. We also perform fluoroscopy studies such as: Barium upper and lower GI series, and swallow studies. We also provide urinary tract studies including IVP's and cystogram's. Fluoroscopy utilizes x-rays to evaluate the internal organs of your body. In order to visualize these organs, contrast media is given to highlight or outline these organs.
		<h4>Digital Mammography</h4>
		Mammography is able to find small abnormalities. This technology can identify lumps long before manual exams can or symptoms begin. At Clara Barton Hospital we have certified mammography staff to provide a caring service that is accredited by the American College of Radiology. We produce digital images, which allow the radiologist to get a clearer picture. Our radiologist also uses a Computer Aided Detection (CAD) system, which electronically highlights suspicious areas.
		<h4>Ultrasound (Sono)</h4>
		Ultrasound is a very valuable tool in diagnostic imaging. Ultrasound uses high-frequency sound waves to acquire images. Ultrasound can provide information on organ structure, movement and blood flow. Our dedicated, certified ultrasound technologist at Clara Barton Hospital provides all general and vascular ultrasound exams. We also partner with Mobile Imaging, Inc. to supplement our ultrasound department. Their certified staff provides echocardiograms as well as general and vascular ultrasound.
		<h4>CT Scan</h4>
		Computed Tomography (CT) is an imaging method that uses x-rays to create cross-sectional pictures of the body. Certain exams require a special dye (Contrast) be given through an intravenous line (IV) in your hand or forearm. The contrast helps the radiologist see certain areas more clearly. At Clara Barton Hospital, our patient-focused technologists use the latest 16-slice CT scanner for faster, higher resolution scans, which can be reconstructed in multiple planes for interpretation by the radiologist. CT angiography is also available.
		<h4>MRI Scan</h4>
		Magnetic resonance imaging (MRI) does not use radiation to take pictures of the body, but uses powerful magnets and radio waves. Certain exams require contrast. This contrast helps the radiologist see certain areas more clearly. We have partnered with Shared Medical Services to bring MRI technology to Clara Barton Hospital. The mobile MRI unit is available at Clara Barton Hospital four days a week at scheduled times.
		<h4>Nuclear Medicine</h4>
		Our friendly nuclear medicine department performs general nuclear medicine exams such as: bone scans, hepatobiliary (GB) scans, renal scans, and more. Clara Barton Hospital also provides nuclear cardiac stress tests.
		<h4>DEXA (Bone Health and Osteoporosis)</h4>
		Bone Densitometry also referred to as a DEXA scan is a safe, low-dose x-ray procedure that assists in diagnosing low bone density. This exam estimates the amount of bone mineral content in specific areas of the body, including the spine, hip, or forearm. Physicians use the bone density information to decide if treatment for osteoporosis is necessary. You should have no discomfort or pain from this exam. The radiologist will study the images and a full report of the findings will be sent to your physician.
		<h4>PET / CT</h4>
		Clara Barton has partnered with Shared Medical Service to provide PET/CT at our facility every other week. PET/CT can diagnose many diseases before they become apparent on other imaging modalities. This technology can distinguish malignant from benign tumors. It also provides cancer staging by accurately identifying the degree of metastasis.
		<h4>Picture Archiving and Communication Systems (PACS)</h4>
		Our local physicians can view images instantly in the hospital or on a computer in their own office using the modern Picture Archiving Communications System (PACS). 
		</div>
		
		<div id="CBMC" class="desc" style="display:none">
		<h3>Clara Barton Medical Clinic</h3>
		<p>The doctors, nurses, and staff at Clara Barton Medical Clinic are prepared to handle all of your health care needs. We have trusted, compassionate, and experienced physicians on our medical staff ready to care for you. We also have several specialty doctors who provide services in our clinic on a regular basis.
		</p>
		<h4>Our regular Medical Staff includes:</h4>
		
		<li>Robin Durrett, DO - General Surgery</li>
		<li>Murray Holcomb, MD - General Surgery</li>
		<li>Abelardo Sotelo, MD - Orthopedic Surgery</li>
		<li>Mike Sheppard, CRNA - General Surgery</li>
		<li>Nathaniel Knackstedt, DO - Internal Medicine</li>
		<li>Scott Webb, DO - Family Practice</li>
		<li>Leah Alpers, PA-C - General Surgery</li>
		<li>Debra Brockel, PA - Family Practice</li>
		<li>Phillip Barnes, PA-C - Family Practice</li>
		<li>Kristin Ohnmacht, PA-C - Family Practice</li>
		<li>Linda Krug, PA-C - Family Practice</li>
		<li>Malorie Hamlin, ARNP - Family Practice </li>
		
		<h4>Our visiting physicians include:</h4>

		<li>Cynthia Romito, MD - Allergy/Immunology</li>
		<li>Michael Lloyd, DO - Cardiology</li>
		<li>John G. Fan, MD - Physical Medicine & Rehabilitation</li>
		<li>Kipp A. VanCamp, DO - Radiology</li>
		<li>Robert Weingart, MD - Urology</li>
		<li>Ann Hentzen Page, MD - OB/GYN</li>
		<li>Kathryn Sawchak, MD - OB/GYN</li>
		<li>Brett Grizzell, MD - Cardiothoracic Surgery</li>
		<li>Matthew Henry, MD - Neurosurgery </li><br>

		<p>If you would like to make an appointment, please call or come by:</p>

		<p>Clara Barton Medical Clinic <br>
		252 W 9th Street <br>
		Hoisington, KS 67544</p>

		<p>Phone: 620-653-2386<br>
		Fax: 620-653-4186 </p>
		</div>
		
		<div id="CBSS" class=" desc" style="display:none">
		<h3>Clara Barton Surgical Services</h3>
		<p>Welcome to Surgical Services</p>
		<p>Whether you are having a procedure after which you will be released the same day or you will be staying a day or two for recovery, you can trust the professionals at Clara Barton Hospital, to meet your needs before, during and after your surgery. We take pride in providing our patients the latest in modern technology in the comfort of a small community hospital. Our services are available for Inpatient/Outpatient care on a 24/7 day a week basis.</p>
		<p>Our department includes...</p>
		<p>Four (4) Preoperative Cubicles<br>
		Two (2) Main OR Suites<br>
		One (1) Minor/ Procedure Room<br>
		Three (3) Post Operative Recovery Beds</p> 
		<p>Our physical environment is complemented by convenient parking, easy access to admissions, ER and adjacent preoperative services (lab, X-ray, EKG). This setting provides a convenient, confidential environment for our surgical patients and family, as well as, support of a full compliment of hospital services should they be needed.</p>
		<p>Our staff of highly skilled and qualified physicians and nursing staff will provide you comprehensive care and personalized service. We focus on each individual patient and their family. Our goal is to meet any educational or physical need you or your family might have during your surgical experience.</p>
		<p>We provide a broad range of surgical procedures within several surgical specialties.</p>
		<p>Our Specialties Include the Following:</p>
		<p>General Surgery Endoscopic Surgery, including screening colonoscopy Orthopedic Surgery Gynecological Surgery Urological Surgery Pain Management Procedures</p>
		<p>Consider choosing Clara Barton Surgical Services for your surgical needs. </p>
		</div>
		
		<div id="CBSSO" class=" desc" style="display:none">
		CBSSO
		</div>
		
		<div id="CBSOC" class=" desc" style="display:none">
		CBSOC
		</div>
		
		<div id="RFMC" class=" desc" style="display:none">
		RFMC
		</div>
		
		<div id="ER" class=" desc" style="display:none">
		ER
		</div>
	</div>
	<div>
	.
	</div>
</div>



