<h1>Giving Opportunities</h1>

<h3>Memorials and Tributes</h3>

A memorial gift is a lasting remembrance of a family member or friend. A tribute gift is made to honor a living person such as a beloved doctor or medical staff member. These gifts can be designated for special projects, capital improvement, or an endowment. View Current Memorials & Tributes

<h3>Membership</h3>

You can support the Foundation by becoming a member. Annual Membership levels are: Annual Membership ($25.00), Family Membership ($50.00), Business Membership ($100.00), Sustainer Membership ($250.00), Pacesetter Membership ($500.00) and Partner Membership ($1,000,00). As a member of the Foundation, you will have a voice in health care for future generations. Foundation members have a right to vote on any business brought before the membership, including the election of the Board of Trustees for both the Foundation and Hospital.

<h3>Scholarships</h3>

The Foundation has established four scholarship funds: the Dr. Robert Moore Scholarship to assist employees of Clara Barton Hospital with their continuing Education. The Verda A. Lane Nursing Scholarship was established to assist students in their academic pursuit to become an RN or LPN. The Jonathan Witt and Saddie Stalcup Scholarship are awarded to students planning to pursue a health care professional curriculum. These scholarships were established at the request of their families and were initially funded with memorial gifts.

<h3>General Endowment</h3>

Gifts can be made to the General Endowment Fund whereby only the investment income will be expended, assuring that the funds will continue in perpetuity. The Endowment Fund was established to ensure long term funding for the Clara Barton Hospital. Gifts may be made over a period of years or through deferred gift arrangements.

<h3>Capital Equipment Fund</h3>

Your gift will be used to purchase vital state-of-the art equipment. Your gifts to the capital fund may be designated or undesignated.

<h3>Unrestricted Fund</h3>

Gifts and grants to this fund have no restrictions placed on them by the donor. This allows the Clara Barton Foundation Board of Directors the freedom to use the funds to meet urgent needs or invest in the future.

<h3>James Turnbull Living Endowment</h3>

The Clara Barton Foundation has established an Endowment to honor Jim Turnbull for his years of service to Clara Barton Hospital as Administrator/C.E.O. With the James L. Turnbull Living Endowment, your entire gift will be invested and only the investment income will be used to fund projects for the hospital.

<h3>I.C. Ike Walter Endowment</h3>
<p>
Gifts can be made to the I.C. “Ike” Endowment Fund whereby only the investment income will be expended, assuring that the funds will continue in perpetuity. This Endowment was established to ensure long term funding for Clara Barton Hospital. Gifts may be made over a period of years or through deferred gift arrangements.
</p>
<p>
All gifts made to the Clara Barton Foundation will be greatly appreciated and are deductible for personal or corporate federal tax purposes to the fullest extent of the law. The Clara Barton Foundation is a qualified 501(C)3 charitable organization. 
</p>