<h1>Guardian Angel</h1>
<div style="float:left; width:80%">
<p>Everyone at Clara Barton Hospital is dedicated to providing you with excellent care and service when you or someone in your family becomes a patient. Grateful patients at Clara Barton often ask how they can thank the people who cared for them when they were in the hospital. To meet that need, the Clara Barton Hospital Foundation has created the Guardian Angel Program.
</p>
<p>Has a doctor, nurse, housekeeper, volunteer or other caregiver made a difference in the care you or your loved one received at Clara Barton Hospital? Say "Thank You" to honor the caregiver or other hospital staff member who made your experience a positive one with a Guardian Angel donation.
</p>
<p>The process is very simple. All you need to do is click the link and complete the honor form and make a gift in honor of the caregiver you wish to recognize. This individual will be notified that you are honoring him or her (unless you would like to remain anonymous), and will receive a custom-crafted lapel pin to wear proudly throughout the hospital. Guardian Angels will also be recognized in Foundation publications. 
</p>
</div>
<div style="float:left;text-align:center">
<a href="https://clarabartonhospital.com/docs/fnd_guard_angel_bro.pdf"><img src="/assets/cbh_angel.jpg" ></img></a><br>
<a href="https://clarabartonhospital.com/docs/fnd_guard_angel_bro.pdf">Guardian Angel Brochure</a>
</div>
<div style="clear:both"></div>