<h1>Foundation Memberships</h1>
<p>Your membership in the Clara Barton Hospital Foundation gives you a voice in the health care of our community. All members of the Foundation may vote on the election of the Board of Trustees for the Foundation and the Board of Directors for the Hospital.
</p><p>
Membership dues each year are raised to help fund special projects around the Hospital which may otherwise be put on hold due to budget constraints. Clara Barton Hospital wrote-off $559,000 in bad debt and another $397,000 in charity care during 2013 which has a direct effect on how much is left to buy new equipment. Thanks to our generous members, the Hospital Foundation is able to have a positive impact in bringing state-of-the-art equipment to our rural, not-for-profit, critical access hospital annually.
</p>
<p style="text-align:center;"><b>Annual Membership Opportunities</b><br>
Individual Memberships .................. $25.00<br>
Family Memberships ...................... $50.00<br>
Business Memberships .................. $100.00<br>
Sustainer Memberships ................. $250.00<br>
Pacemaker Memberships ............... $500.00<br>
Partner Memberships ................. $1,000.00<br><br>

You can send your membership to the Foundation Office at:<br>
Clara Barton Foundation<br>
P.O. Box 25<br>
Hoisington, KS 67544<br>
or<br>
Call 620-653-5012 for more information </p>