<div id="CBSS" class=" desc" >
	<h3>Clara Barton Surgical Services</h3>
	<p>Welcome to Surgical Services</p>
	<p>Whether you are having a procedure after which you will be released the same day or you will be staying a day or two for recovery, you can trust the professionals at Clara Barton Hospital, to meet your needs before, during and after your surgery. We take pride in providing our patients the latest in modern technology in the comfort of a small community hospital. Our services are available for Inpatient/Outpatient care on a 24/7 day a week basis.</p>
	<p>Our department includes...</p>
	<p>Four (4) Preoperative Cubicles<br>
	Two (2) Main OR Suites<br>
	One (1) Minor/ Procedure Room<br>
	Three (3) Post Operative Recovery Beds</p> 
	<p>Our physical environment is complemented by convenient parking, easy access to admissions, ER and adjacent preoperative services (lab, X-ray, EKG). This setting provides a convenient, confidential environment for our surgical patients and family, as well as, support of a full compliment of hospital services should they be needed.</p>
	<p>Our staff of highly skilled and qualified physicians and nursing staff will provide you comprehensive care and personalized service. We focus on each individual patient and their family. Our goal is to meet any educational or physical need you or your family might have during your surgical experience.</p>		
	<p>We provide a broad range of surgical procedures within several surgical specialties.</p>
	<p>Our Specialties Include the Following:</p>
	<p>General Surgery Endoscopic Surgery, including screening colonoscopy Orthopedic Surgery Gynecological Surgery Urological Surgery Pain Management Procedures</p>
	<p>Consider choosing Clara Barton Surgical Services for your surgical needs. </p>
</div>
		
<script type="text/javascript">

</script>