<h1>Insurance & Billing</h1>
<p>
Clara Barton Hospital is a Non-profit Hospital which is not tax supported by the federal or local governments. We rely on timely payments by our patients and insurance providers to meet our monthly obligations. As a non-profit Hospital our commitment is to provide a quality service, by qualified personnel at an affordable price. As we all know the cost of Health care can seem overwhelming as a consumer, sometimes even after insurance has paid it’s portion, the bills can be very expensive. As we are aware many times the cost of an insurance policy can be too expensive to purchase.
</p>
<h3>Simplify Your Account</h3>

<p>In order for the Hospital to continue to operate in an efficient manner and provide a benefit for the community here are tips to make our billing process for patient services the most efficient. Upon admission to the Hospital for In-patient or Out-patient services:
</p>
    <li>Provide the Admissions personnel with the most recent copy of your insurance card(s). This is important for us to be sure we have the correct insurance company listed with their correct address.
    </li><li>Provide your current address and phone number. This will allow us to contact the patient quickly should we have a question about the insurance or other information. 
</li>

<h3>Self-Pay Accounts</h3>

<h3>I Don't Have Insurance</h3>

If you are among the many uninsured Americans we do not turn anyone away for being uninsured...however payment for the services which the patient received are the patient’s responsibility.

Prompt pay discounts are available. Please contact the Financial Counselor at 620-653-5038 for more details and to make payment arrangements within thirty (30) days of the time of service or discharge.

<h3>Payment Arrangements</h3>

<p>Once services have been rendered to the patient, the hospital will file a claim with the proper insurance company and then a statement will be sent to the patient. When a statement is received by the patient the statement is to be paid in full. If the patient is unable to pay the statement in full:
</p>
    <li>Please contact the Financial Counselor at Clara Barton Hospital within 30 days to establish payment arrangements.
    </li><li>The Financial Counselor will establish a payment arrangement with patients based on their financial situation and the amount of the patient bill.
    </li><li>Payment arrangements will be made for each patient account or service date. If the patient has future service dates once an arrangement has been made, the patient will need to contact the Financial Counselor to make new payment arrangements for the new accounts.
    </li><li>After payment arrangement has been made it is the patient’s responsibility to pay the arranged amount each month by the specified date. If a patient is unable to make a scheduled payment, the patient should contact the Financial Counselor at 620-653-5038. 
</li>

<p>Once a payment arrangement has been defaulted the account may be forwarded to a collection agency.
</p>
<h3>What If I Can't Pay My Hospital Bill</h3>

<p>If a patient doesn’t have health insurance (or if the insurance does not cover all medical expenses), please contact our Financial Counselor within thirty (30) days of receiving your statement. In most cases patients do not have the ability to pay the entire bill at the time of service or discharge if the patient is uninsured or under insured. Our Financial Counselor will work with patients to make financial arrangements to pay the bill over time or complete an application for Financial Assistance.
</p>
<p>Clara Barton Hospital understands there are many times when the resources are not available to patients before, during and after medical difficulties. No contact from the patient for an unpaid bill leaves the Hospital little recourse.
</p>
<p>Our Financial Counselor is available to visit with patients about their payment options.
</p>
<h3>Financial Assistance</h3>

<p>Upon request, or as a referral, Clara Barton Hospital will help determine whether a patient qualifies for assistance at no charge. An application form will be given to a patient to complete and return with the requested information.
</p>
<h3>Application Process</h3>

<p>Once the patient has received the Financial Assistance application, please read each section and fill out completely with the most current information. There is some information which will need to be provided with each application. Please be sure the application is signed and dated. If assistance is needed in completing the application please contact the Hospital at 620-653-2114.
</p>
<p>While your application is being processed , please continue to make a monthly payment. If you have not established a payment contact the Financial Counselor to do so.
</p>
<h3>How Does The Hospital Decide If I Qualify?</h3>

<p>A patient’s eligibility is determined on factors such as income, number in the household and the amount of hospital debt in comparison to annual income. We do not consider age, sex, sexual orientation, race, beliefs or disabilities.
</p>
<h3<What Happens If I Qualify?
</h3>
<p>If a patient qualifies, the accounts up to the date of review will be considered and the applicable forgiveness amount will be applied. We do not pre-qualify anyone for Financial Assistance.
</p>
<h3>How Do I Know If I Qualify?
</h3>
<p>Each patient will receive a letter from our Business Office stating the amount that has been forgiven and what the remaining balance is (if any). An expected payment amount will be stated in the approval letter and the date the payments will start.
</p>
<h3>How Do I Know If I Do Not Qualify?
</h3>
<p>If a patient does not qualify for Financial Assistance, each patient will also receive a letter from our Business office stating they have not been approved and a designated payment amount will be stated along with the date the payment is to begin.
</p>
<p>At this time the patient will be obligated to make a monthly payment for the services received.
</p>
<h3>Unpaid/Delinquent Accounts
</h3>
<p>We strive to work with our patients to pay on their Hospital bills, however, any unpaid account balances for which no satisfactory payment arrangements have been made within thirty (30) days from the date of discharge will be considered delinquent and may be placed with an outside agency for collection purposes. This will also include any remaining balances after Financial Assistance has been applied.
</p>
<h3>Documents 
</h3>
<%= link_to 'Self Pay Brochure', asset_path("cbh_self_pay_brochure.pdf")  %><br>
<%= link_to 'Financial Assistance Policy', asset_path("cbh_financial_assistance_policy.pdf")  %><br>
<%= link_to 'Financial Assistance Application', asset_path("cbh_financial_assistance_application.pdf") %> <br><br>