<h1>Testimonials</h1>
 <div class="row">
	<div class="col-xs-16 col-md-3">
	<p><img src="http://placehold.it/200x200" alt="..." style="float:left"></p>
	</div>
	<div class="col-xs-12 col-md-9">
		<p>Joe - blahblahblahblahblahblah</p>
	</div>
</div>
	<br>
	
 <div class="row">
 <div class="col-xs-12 col-md-9">
		<p>Jim - blalskjdfalksjdflakjsdfljkasldkjfa;lskdjf;alksjdflakjsdf</p>
	</div>
	<div class="col-xs-16 col-md-3">
	<p><img src="http://placehold.it/200x200" alt="..." style="float:left"></p>
	</div>
</div>
	<br>
	
 <div class="row">
	<div class="col-xs-16 col-md-3">
	<p><img src="http://placehold.it/200x200" alt="..." style="float:left"></p>
	</div>
	<div class="col-xs-12 col-md-9">
		<p>John - asdfj;asldkjfalkjsdf;lkjwerijas;ldkfja;lskdjf</p>
	</div>
</div>
	<br>	

